In [2]:
import pandas as pd
import plotly.express as px

In [3]:
tabela = pd.read_csv('cancelamentos_sample.csv')
tabela = tabela.drop(columns="CustomerID")
tabela = tabela.dropna()
tabela

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,23.0,Male,13.0,22.0,2.0,1.0,Standard,Annual,909.58,23.0,0.0
1,49.0,Male,55.0,16.0,3.0,6.0,Premium,Monthly,207.00,29.0,1.0
2,30.0,Male,7.0,1.0,0.0,8.0,Basic,Annual,768.78,7.0,0.0
3,26.0,Male,40.0,5.0,3.0,8.0,Premium,Annual,398.00,12.0,1.0
4,27.0,Female,17.0,30.0,5.0,6.0,Basic,Annual,507.00,15.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
49995,62.0,Female,35.0,7.0,2.0,8.0,Basic,Annual,232.00,15.0,1.0
49996,36.0,Male,43.0,21.0,2.0,30.0,Basic,Quarterly,928.00,30.0,1.0
49997,55.0,Male,42.0,8.0,1.0,12.0,Basic,Monthly,326.00,27.0,1.0
49998,40.0,Female,14.0,19.0,1.0,17.0,Premium,Quarterly,826.76,12.0,0.0
49999,64.0,Male,41.0,29.0,5.0,9.0,Basic,Quarterly,700.38,18.0,1.0

In [4]:
agrupamento = tabela.groupby("duracao_contrato").mean(numeric_only=True)
agrupamento

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,
Annual,38.783985,31.416452,15.910449,3.277585,12.533985,650.925840,14.231544,0.464080
Monthly,41.428470,30.677964,15.577600,4.923917,15.078814,547.508921,15.392655,1.000000
Quarterly,38.833935,31.522099,15.842504,3.256113,12.480006,654.102443,14.364602,0.458759

In [5]:
tabela['cancelou'].value_counts(normalize=True).map("{:.1%}".format)

cancelou
1.0    56.8%
0.0    43.2%
Name: proportion, dtype: object

In [6]:
for coluna in tabela.columns:
    grafico = px.histogram(tabela, x=coluna, color='cancelou')
    grafico.write_html(f"grafico_{coluna}.html")

In [7]:
tabela = tabela[tabela['duracao_contrato'] != 'Monthly']
tabela['cancelou'].value_counts(normalize=True).map("{:.1%}".format)

cancelou
0.0    53.9%
1.0    46.1%
Name: proportion, dtype: object

In [8]:
tabela = tabela[tabela['ligacoes_callcenter'] < 5]
tabela['cancelou'].value_counts(normalize=True).map("{:.1%}".format)

cancelou
0.0    73.6%
1.0    26.4%
Name: proportion, dtype: object

In [9]:
tabela = tabela[tabela['dias_atraso'] <= 20]
tabela['cancelou'].value_counts(normalize=True).map("{:.1%}".format)

cancelou
0.0    81.6%
1.0    18.4%
Name: proportion, dtype: object